[submodule "submodules/LiteNetwork"]
	path = submodules/LiteNetwork
	url = https://github.com/aosyatnik/LiteNetwork
[submodule "submodules/Sylver.HandlerInvoker"]
	path = submodules/Sylver.HandlerInvoker
	url = https://github.com/aosyatnik/Sylver.HandlerInvoker.git
[submodule "submodules/Parsec"]
	path = submodules/Parsec
	url = https://github.com/aosyatnik/Parsec
[submodule "submodules/Imgeneus.Authentication"]
	path = submodules/Imgeneus.Authentication
	url = https://github.com/aosyatnik/Imgeneus.Authentication
